/* @override http://localhost/Scoop/docs/css/screen.css */

/* Colours */


#square {background-color: #E7685D;}
#rectangle {background-color: #FFF37A;}
#grid {background-color: #FEDFC0;}
#suggestion {background-color: #FFFFFF;}
#profile {background-color: #EE9CB0;}
#media {background-color: #957246;}
#number {background-color: #D0E6BB;}
#menu {background-color: #fefde9;}
#edit-instructions {background-color: #cfe9f2;} 
#edit-code {background-color: #98dcf2;}
#listy {background-color: #eff298;}
#tricks-none {background-color: #a3f298;}

a#addnew { float:left; background-color: #FEDFC0; width: 50px; height:50px; margin-bottom: 100px; }
p#add { padding:10px;}
div#divdata { };
a.remove { float: right; }

/* Typography */
html,body {height:100%;}
body { font-family: "Courier New", times, serif; line-height: 1.3; }
ul li, p, em, div.description { font-size: 13px; font-style: normal; }
h1 { font-family: 'Pacifico', cursive; font-size: 55px letter-spacing: 0.02em; }
h2 { font-family: 'Pacifico', cursive; font-size: 65px; margin: 0px; letter-spacing: 0.02em; }
p.date { font-size: 11px; letter-spacing: 0.03em; }
a { text-decoration: none; }

/* Layout */

body { background: url(beta-waffle.png) no-repeat scroll 135px 0;
}

#panel { padding:10px; margin-top:35px; background-color: #E7685D; border: 7px double #fefde9;
}


td { width: 300px; padding-left:5px; padding-right:5px; vertical-align: middle;
	text-align: center;
}

tr { background-color: #E7685D;}

textarea#para {	width:140px  }

#menu home_sidebar { height:  460px;}



#suggestion h1 {
	text-align: center;
	font-size: 55px;
	padding-top:14px;
	margin:0px;
}

p.coming_soon {
	text-align: center;
	font-size: 12px;
	margin-top: 0px;
	text-decoration: overline;
	text-dec
}

#profile p.title {
	padding-top: 110px;
}

p.title {
	text-align: center;
	font-size: 23px;
	padding-top: 33px;
	margin-bottom: 0px;
}

#header p.title {
	text-align: center;
	font-size: 23px;
	padding-top: 3px;
	margin-bottom: 0px;
}


#home-sidebar { height: 460px;
				background-color: #fefde9;
}

#home-sidebar p {
	padding: 10px;
	line-height: 1.3em;
	margin: 0px;
}


div.flavour {height: 140px; margin-bottom:20px; display: inline}
div.flavour-long {height: 300px; display: inline}
#header {height: 70px; margin-top: 70px; background-color: #FFFDEB; margin-bottom:20px;}
#header-type {height: 70px; margin-top: 70px; margin-bottom:20px; }
#menu {min-height: 460px; height: 100%;}


h2#text-box {
	position: relative;
	z-index: 1;
}

p#menu.grid_4 {
	font-family:"arial", helvetica, sans-serif;	
	vertical-align: baseline;
}
